@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-hero{
    background-image: url('../public/images/image-4.png');
}
.bg-about{
    background-image: url('../public/images/logo.jpeg');
}
.bg-mission{
    background-image: url('../public/images/image-3.png');
}

.bg-quality{
    background-image: url('../public/images/image-4.png');
}

.bg-values{
    background-image: url('../public/images/image-23.png');
}
.bg-contact{
    background-image: url('../public/images/contact.jpg');
}